@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

@import 'variables.less';

@import 'components/logo.less';
@import 'components/todo-list.less';
@import 'components/new-todo.less';
@import 'components/toolbar.less';
@import 'components/footer.less';

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

html, body, #root {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#sections__container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto @footer-height-negative; // -(@footer-height) does not work for some reason :/
}

.push {
	height: @footer-height;
}

.button {
	display: inline-block;
	padding: .3em .7em;

	text-transform: uppercase;

	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	cursor: pointer;

	&.button--default {
		background-color: #f8f7f7;
		border-color: darken(#f8f7f7, 5%);
	}

	&:active {
		position: relative;
		left: 1px;
		top: 1px;
		border-color: transparent;
	}
}